.form-container {
  max-width: 50%;
  padding: 1rem;
  border: 0.1rem solid #212121;
  border-radius: 1rem;
  margin-top: 0px;
}

.form-container span {
  padding: 0.1rem;
  margin-bottom: 0.3rem;
}

.form-container input {
  padding: 0.1rem;
  font-size: 1em;
  width: 90%;
  height: 1.5rem;
}

.form-container textarea {
  height: 5rem;
}

.title {
  margin: 3rem auto;
  margin-bottom: 0.3rem;
  text-align: center;
}

.btn {
  margin: 1rem auto;
  padding: 0.3rem;
  width: 50%;
}
