.timer {
  position: fixed;
  margin-left: 0.3rem;
  margin-bottom: 3rem;
  margin-left: 0px;
  border-radius: 0.5rem;
  border-color: red;
  border: 1px solid green;
  padding: 0.3rem;
}

.timer h4 {
  display: inline-block;
}
.timer span {
  padding: 0.3rem;
}

.timeup {
  color: red;
  font-family: 'Courier New', Courier, monospace;
}

.counter {
  color: red;
}
