.singleshow-container {
  margin-top: 1rem;
}
/* .single-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  grid-row-gap: 0px;
  max-width: 90%;
  margin-top: 0px;
} */

.rate {
  grid-column: 1 / span 2;

  align-items: center;
}
.show-links {
  margin-bottom: 0;
}

.selectrate {
  width: 3rem;
  margin-left: 0;
}
.rate-this {
  margin-top: 0.3rem;
  margin-left: 3.3rem;
  margin-bottom: 0.1rem;
}
/* .singlemovietitle {
  margin-top: 2rem;
  color: black;
  font-weight: bolder;
} */

.singlemovieimg {
  margin-top: 0;
  padding: 0.3rem;
  margin-left: 3rem;
  width: 75%;
  background-color: white;
}

.movie-data {
  grid-column: span 2;
}

p > span {
  padding: 0.3rem;
  display: inline-block;

  margin-right: 1rem;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.values {
  padding: 0.1rem;
  margin-right: 0.5rem;
  margin-left: 0.2rem;
}
.download {
  margin-top: 0.3rem;
}
/* .singlerule {
  border: solid hsl(204, 100%, 96%) 0.1rem;
} */

.keys {
  font-weight: bold;
}

div img {
  width: 70%;
  /*   border: 0.3rem solid crimson; */
  margin: 1rem auto;
  object-fit: contain;
}

.trailer {
  color: green;
  font-size: larger;
  font-weight: bolder;
}
.plot {
  line-height: 1rem;
}

.available {
  padding: 0.5rem;
  margin-left: 2.5rem;
  color: white;
  border: 0.2rem solid black;
  background-color: crimson;
  border-radius: 0.3rem;
  width: 10rem;
  font-weight: bold;
}

.available:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.wide {
  width: 12rem;
}
