.section {
  margin-top: 10rem;
  margin-right: 2rem;
  margin-left: 0px;
  width: 45rem;
  height: 25rem;
  align-items: center;
}

.btn {
  border: 0.2rem solid crimson;
  padding: 0.7rem;
  background-color: green;
  color: white;
  border-radius: 1.5rem;
  width: 5rem;
}

.login-form {
  max-width: 100%;
  padding: 1rem;
  border: 0.3rem solid #212121;
  border-radius: 1rem;
  background-color: white;
  align-items: center;
  justify-content: center;
  margin-top: 9rem;
}
.form-row {
  padding: 0.5rem;
  font-size: 1.3em;
}

.form-row label {
  padding: 1rem;
}

form h4 {
  text-align: center;
  color: green;
}
.form-row label,
input {
  padding: 0.5rem;
}

.form-input {
  font-size: 1em;
  width: 90%;
  padding: 0.3rem;
  margin-left: 1rem;
  background-color: white;
  border: 0.3rem solid #212121;
}

.btn:hover {
  background: aqua;
  color: green;
}

/* /* Responsive design */

@media screen and (max-width: 600px) {
  .form {
    margin-top: 10rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .section {
    align-items: left;
    margin-left: 0px;
  }
}

@media screen and (max-width: 350px) {
  .form {
    margin-top: 15rem;
    margin-right: 2rem;
    margin-left: 0px;
  }
}
