.post-main {
  margin-top: 0.5rem;
}

/* .post-grid > div {
  border: 1px solid '#777';
}
.post {
  margin-top: 5rem;
  background: whitesmoke;
  height: 30%;
}
.titlediv {
  grid-column: span 3;
  padding: 0.3rem;
  margin-bottom: 0.3rem;
}
.postinfo {
  grid-column: span 3;
} */

.swiper {
  height: auto;
}
.swiper-container .swiper-zoom-container > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.postimage {
  max-width: 100%;
  width: auto;
  height: auto;
  border: 0;
  margin-bottom: 0;
}

.image-div {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.facebook {
  padding: 1rem;
  margin-left: 0;
}

.tophorizon {
  border: solid white 0.1rem;
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.downhorizon {
  border: solid white 0.1rem;
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

/* .prev {
  margin-top: 25%;
  height: 25%;
}

.nextone {
  margin-top: 25%;
  height: 25%;
}
.source {
  color: black;
}

.oneimage {
  grid-column: span 3;
}
 */
.showmore {
  font-size: smaller;
  /*  border: 0.1rem dotted;
  background: black; */
  background: #f8f8ff;
}
.addbtn {
  padding: 0.3rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  width: 5rem;
  border-radius: 1rem;
}
.like {
  background: red;
}

.add-comment {
  width: 100%;
}
.addcomment-container {
  grid-column: span 3;
}
