/* .video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 853;
  width: 480;
  position: absolute;
  padding: 1rem;
} */

.video {
  margin: 1.5rem auto;
  aspect-ratio: 16 / 9;
  width: 100%;
}

.player {
  background-color: white;
}
