.groups-section {
  margin-top: 1rem;
  padding: 1rem;

  justify-content: center;
}
.groups-head {
  font-size: medium;
  margin: 0 auto;
}

.underline {
  margin: 1rem auto;
}

.groups {
  margin-top: 1.5rem;
  margin-left: 0px;
  margin-bottom: 0.5rem;
  height: 30%;
  padding: 1rem;
  line-height: 1rem;
}
.members {
  color: green;
  font-size: small;
  font-style: italic;
}
.join {
  color: green;
  font-weight: bold;
  padding: 1rem;
}

.addgroup {
  color: blue;
  font-weight: bold;
  padding: 1rem;
}

.show {
  font-size: smaller;
  border: 0.1rem solid green;
  padding: 0.1rem;
}

hr {
  border: solid white 0.1rem;
  width: 100%;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.answerbtn {
  width: 100%;
  margin: 0.75rem auto;
  background: var(--clr-primary-7);
  border-radius: var(--radius);
  border-color: transparent;
  color: black;
  letter-spacing: var(--spacing);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.1rem 0;
  transition: var(--transition);
}
.answerbtn:hover {
  background: green;
  color: white;
}

.submit-btn {
  border-radius: var(--radius);
  border-color: transparent;
  padding: 0.25rem 0.5rem;
  display: block;
  width: 35%;
  margin-left: auto;
  margin-top: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: var(--spacing);
  font-size: 1rem;
  background: #ffb100;
  color: var(--clr-black);
  transition: var(--transition);
  cursor: pointer;
}
