/* .addmovie-section {
  margin: 5rem auto;
  width: 53rem;
  height: 45rem;
  padding: 0.5rem;
  justify-content: left;
  box-sizing: border-box;
}

.addmovie-main {
  margin-left: 0px;
}

.form-container {
  padding: 0.1rem;
  border: 0.1rem solid #212121;
  border-radius: 1rem;
  margin: 1rem auto;
  width: 100%;
}
.form-container span {
  margin-left: 0px;
  padding: 0.3rem;
}

.btnoptions {
  border: 0.1rem solid crimson;
  padding: 0.7rem;
  margin-right: 1rem;
  background-color: green;
  color: white;
  border-radius: 0.3rem;
  width: 2.5rem;
  display: block;
}

.salute {
  margin-top: 10rem;
  text-align: right;
}
.title {
  margin-top: 5rem;
}

.track-input {
  border: solid 0.1rem red;
}

.track-input1 {
  border: solid 0.1rem green;
}

.genre {
  display: inline-block;
  color: grey;
}
.form-input {
  color: red;
}
 */
