/* .navdiv {
  width: 100%;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.25);
  height: 5rem;
  position: fixed;
  border-radius: 1rem;
  z-index: 100;
} */

.log-container {
  margin-right: 1rem;
  padding: 0.1rem;
}
nav {
  display: flex;
  margin-bottom: 0;
  width: 100%;
  background-color: #212121;
  height: 5rem;
  z-index: 1;
  position: fixed;
  margin-left: 1rem;
}
.links-container {
  background-color: #212121;
  z-index: 100;
  position: fixed;
  align-items: center;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
}

nav li {
  padding: 0.3rem;
}

nav h1,
h2,
h3 {
  display: inline-block;
}

.links-container ul,
li {
  display: inline-block;
  word-spacing: 0;
  margin-right: 0px;
}

@media screen and (max-width: 944px) {
  .links-container ul,
  li {
    display: inline-block;
    font-size: small;
  }
}
/*
  .links-container {
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media screen and (max-width: 750px) {
  .log-container li {
    display: inline-block;
  }
}
 */
