.search {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* .index-btn:hover {
  color: white;
  padding: 1rem;
  border-bottom: 0.1rem solid crimson;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 960px) {
  header {
    display: inline-block;
  }
}

.sidebar {
  padding: 1rem;
  border-right: 0.5rem solid #ddd;
  margin-left: 0;
  background-color: #212121;
  text-align: center;
  margin-top: 8.5rem;
} */
