.form-container {
  margin-top: 3rem;
}

/* 
.group-head {
  font-size: medium;
  margin: 1rem auto;
}

.underline {
  margin: 1rem auto;
}

.addgroup {
  color: blue;
  font-weight: bold;
  padding: 1rem;
}

.show {
  font-size: smaller;
  border: 0.1rem solid green;
  padding: 0.1rem;
}

hr {
  border: solid white 0.1rem;
  width: 100%;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.grpimg {
  border: 0.3 red solid;
}
.addimg {
  color: red;
  font-weight: bold;
}
.valid-link {
  color: green;
}
.invalid-link {
  color: red;
}


}
 */
