.admin-main{
  margin-bottom: 4em;
}
.admin-section {
  padding: 2.5rem;
  margin-top: 7.5rem;
  width: 40rem;

  box-sizing: border-box;
}

.admin-btn {
  display: flex;
  align-items: center;
  width: 15rem;
  font-weight: bold;

  color: black;
  background: gray;
  padding: 1rem;
}

.make-admin {
  margin-top: 7rem;
}
.movieListPage {
  display: flex;
  flex-wrap: wrap;
  padding: 6em 1em 2em 1em;
}

.MovieListTab {
  width: 22em;
  display: flex;
  border: 1px solid gray;
  margin: 0em 1em 1em 0em;
  border-radius: 5px;
}

.movieListDetails {
  flex: 1.5;
  height: 8.5em;
}

.movieListDetails div div {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.movieListDetails div label {
  margin-right: 5px;
  font-weight: bold;
  font-size: 1em;
}
.itemDeleteButton {
  width: 100%;
  height: 1.5em;
  background-color: aquamarine;
  color: black;
  text-align: center;
}
.itemDeleteButtonDiv {
  display: flex;
  gap: 2px;
  margin-left: 2px;
  margin-right: 2px;
}
.filmEditPage {
  padding-top: 6em;
}
.editWhere {
  margin-left: 5px;
}
.editWhere label {
  font-size: 1em;
  font-weight: 500;
}
.editWhere select {
  width: 10em;
  padding: 2px;
}
.pagination {
  margin-bottom: 2em;
}
.pageNum {
  padding: 2px;
  background-color: blueviolet;
  margin: 1px;
}
.pageNum a{
  font-size: 1rem;
}
.winListPage{
  padding: 6em 1em 2em 1em;
}
.winnerslisttab{
  margin-bottom: 1rem;
}
.winnerslisttab div{
  display: flex;
  align-items: center;
}